@{
    ViewBag.Title = "Aceites para motor de servicio pesado";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section banner{
    <!-- Page title -->
    <div class="page-title">

        <div class="container">
            <div class="row">

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-title -->
}

<!-- Blog posts -->
<section class="main-content blog-posts blog-single">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="post-wrap">
                    <article class="post clearfix">
                        <div class="featured-post">
                            <img src="@Url.Content("~/images/portfolio/transcategories.fw.png")" alt="image">
                        </div><!-- /.feature-post -->

                        <div class="content-post">
                            <h2 class="title-post"><a href="blog-single.html">Aceites para motores de servicio pesado</a></h2>

                            <div class="" style="background-color: transparent; color: black;">
                                <br />
                                <p align="justify">
                                    Delo® 400 ofrece un amplio portafolio de productos de aceites para motores de servicio pesado para una excelente confiabilidad del motor y una economía de combustible maximizada. El desempeño comprobado de Delo le ayudará a proteger las piezas fundamentales de su vehículo, de defensa a defensa.
                                    <br />
                                    <br />
                                    Por otra parte, la línea de productos Ursa® ofrece aceites para motores diésel de alto rendimiento y para diversas condiciones de servicio.
                                </p>
                            </div>
                        </div><!-- /.content-post -->
                    </article>

                    <div class="main-single">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo400SDE15W40PC-11.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo 400 SDE SAE 15W-40</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    Delo® 400 SDE SAE 15W-40 con Tecnología ISOSYN® Advanced es un aceite para motores de flota mixta recomendado para motores diésel de cuatro tiempos, atmosféricos y turboalimentados, y motores de gasolina de cuatro tiempos, en los cuales se recomiendan categorías de servicio API CK-4 o SN, y un grado de viscosidad SAE 15W-40. Delo 400 SDE 15W-40 también es retroactivamente compatible con motores diésel en los cuales se recomiendan categorías de servicio API CJ-4, CI-4, CI-4 Plus y CH-4.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_camionpasajeros.jpg")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_waste.jpg")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=481951&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/product_delomgx.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo 400 MGX SAE 15W-40</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    El aceite Delo® 400 MGX SAE 15W-40 es recomendado para motores a diésel naturalmente aspirados, turbo cargados y a gasolina de cuatro tiempos en los que la categoría de servicio API CJ-4, API CI-4 PLUS o API CI-4 y el grado de viscosidad SAE 15W-40 son recomendados. Puede ser utilizado en motores a gasolina cuando se requiera una categoría de servicio API SM y un grado de viscosidad SAE 15W-40.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_manufacturing.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_oilgas.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_power.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/isosyn.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=418341&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo 400 XLE 10W30 PC-11.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo 400 XLE SAE 10W-30</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    Delo® 400 XLE SAE 10W-30 con Tecnnología ISOSYN® Advanced es un aceite para motores de flota mixta, de mezcla sintética calidad Premium, recomendado para motores diésel de cuatro tiempos, atmosféricos y turboalimentados, y motores de gasolina de cuatro tiempos, en los cuales se recomiendan categorías de servicio API CK-4 o SN, y un grado de viscosidad SAE 10W-30.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_camionpasajeros.jpg")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_waste.jpg")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=479606&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo 400 XLE 15W40 PC-11.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo 400 XLE SAE 15W-40</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    Delo® 400 XLE SAE 15W-40 con Tecnología ISOSYN® Advanced es un aceite para motores de flota mixta y drenaje prolongado de mezcla sintética de calidad Premium, recomendado para motores diésel de cuatro tiempos, atmosféricos y turboalimentados, y motores de gasolina de cuatro tiempos, en los cuales se recomiendan categorías de servicio API CK-4 o SN, y un grado de viscosidad SAE 15W-40.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_marine.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_power.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_camionpasajeros.jpg")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_waste.jpg")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=481952&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo_1_Gallon_400_XSP_5w30_SE_Synthetic_NEW Violator.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo 400 XSP 5W-30</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    Delo® 400 XSP SAE 5W-30 (Synthetic) con Tecnología ISOSYN® Advanced es un aceite para motores de flota mixta recomendado para motores diésel de cuatro tiempos, atmosféricos o turboalimentados, y motores de gasolina de cuatro tiempos, en los cuales se recomiendan categorías de servicios del API CK-4, API SN o API SN PLUS, y un grado de viscosidad SAE 5W-30.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_camionpasajeros.jpg")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_waste.jpg")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/HomePage.aspx" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo_1_Gallon_400_XSP_5w40_SE_Synthetic_NEW Violator.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo 400 XSP 5W-40</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    Delo® 400 XSP SAE 5W-40 (Synthetic) con Tecnología ISOSYN® Advanced es un aceite para motores de flota mixta recomendado para motores diésel de cuatro tiempos, atmosféricos o turboalimentados, y motores de gasolina de cuatro tiempos, en los cuales se recomiendan categorías de servicios del API CK-4, API SN o API SN PLUS, y un grado de viscosidad SAE 5W- 40.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_camionpasajeros.jpg")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_waste.jpg")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/HomePage.aspx" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/DELOGoldULTRA_15W40_1Gal.jpg")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Gold Ultra SAE 15W-40</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    Delo® Gold Ultra SAE 15W-40 es un aceite para flotas mixtas específicamente diseñado para lubricar una amplia gama de motores diésel de gran potencia y motores gasolina que requieren respectivamente categorías de servicio API CI-4 y SL y un grado de viscosidad SAE 15W-40. Delo Gold Ultra está formulado con tecnología ISOSYN®.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_camionpasajeros.jpg")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_waste.jpg")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/isosyn.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=481951&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/DeloGoldUltraX.pail.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Gold Ultra X SAE 15W-40</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    "Delo. Vamos más lejos.®"
                                    <br />
                                    <br />
                                    Delo® Gold Ultra X SAE 15W-40 es un aceite multigrado para motores diésel de alto desempeño (diésel de desempeño superalto, SHPD), formulado con Tecnología ISOSYN® y específicamente diseñado para usar en motores turboalimentados con intervalos de drenaje prolongados. La Tecnología ISOSYN es una combinación de aceites base superiores y aditivos de alto desempeño con la experiencia de formulación de Chevron que proporciona una magnífica protección para las piezas de los motores diésel, todo ello a un valor excepcional.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_camionpasajeros.jpg")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_waste.jpg")" />
                                    <br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/isosyn.png")" />
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=481951&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.post-wrap -->
            </div><!-- /.col-md-8 -->

            <div class="col-md-4">
                <div class="sidebar">
                    @Html.Partial("_MenuTransporte")
                    @Html.Partial("_MenuCategorias")
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section> 