@{
    ViewBag.Title = "Grasas";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section banner{
    <!-- Page title -->
    <div class="page-title">

        <div class="container">
            <div class="row">

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-title -->
}

<!-- Blog posts -->
<section class="main-content blog-posts blog-single">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="post-wrap">
                    <article class="post clearfix">
                        <div class="featured-post">
                            <img src="@Url.Content("~/images/portfolio/transcategories.fw.png")" alt="image">
                        </div><!-- /.feature-post -->

                        <div class="content-post">
                            <h2 class="title-post"><a href="blog-single.html">@ViewBag.Title</a></h2>

                            <div class="" style="background-color: transparent; color: black;">
                                <br />
                                <p align="justify">
                                    Las grasas de calidad Premium Delo® están formuladas para proporcionar un alto desempeño y una protección de larga vida, independientemente de las condiciones de sus equipos. Las grasas Delo se destacan por ofrecer excelente protección de los componentes clave de los equipos, en climas adversos y condiciones operativas difíciles.
                                </p>
                            </div>
                        </div><!-- /.content-post -->
                    </article>

                    <div class="main-single">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Cartridge-Delo Extreme Grease EP-1.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Grease EP</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    Las grasas Delo® Greases EP son grasas de presión extrema, técnicamente avanzadas para una amplia variedad de aplicaciones en la carretera.
                                    <br /><br />
                                    Disponible en los grados NLGI 00, 0, 1, 2
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_manufacturing.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/Food-50.jpg")" />

                                    @*<br />
                                        <br />
                                        <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=77039&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo Grease ESI EP.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Grease ESI</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    Delo® Grease ESI® es una grasa técnicamente avanzada con intervalo de mantenimiento prolongado para rodamientos de las ruedas, chasis y pivotes de dirección diseñada para una amplia gama de aplicaciones dentro y fuera de la carretera.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_manufacturing.png")" />
                                    @*<br />
                                        <br />
                                        <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    @*<a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=328622&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>*@
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo Grease ESI HD Moly 3.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Heavy Duty Moly 3% EP</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    La línea de Delo® Heavy Duty EP es una amplia línea de grasas que se encuentran disponibles con o sin disulfuro de molibdeno. Estas grasas están diseñadas para aplicaciones de chumaceras simples y chumaceras anti-fricción, operando bajo condiciones de alto estrés/cargas pesadas, combinadas con altas temperaturas ambiente comúnmente encontradas en aplicaciones de servicio pesado fuera de la carretera.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_manufacturing.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/Food-50.jpg")" />

                                    @*<br />
                                        <br />
                                        <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    @*<a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=393300&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>*@
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo Grease ESI HD Moly 3.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Heavy Duty Moly 5% EP</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    La línea de Delo® Heavy Duty EP es una amplia línea de grasas que se encuentran disponibles con o sin disulfuro de molibdeno. Estas grasas están diseñadas para aplicaciones de chumaceras simples y chumaceras anti-fricción, operando bajo condiciones de alto estrés/cargas pesadas, combinadas con altas temperaturas ambiente comúnmente encontradas en aplicaciones de servicio pesado fuera de la carretera.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_manufacturing.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/Food-50.jpg")" />

                                    @*<br />
                    <br />
                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    @*<a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=393300&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>*@
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/grease_delo_hd_moly5_ep_2.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Heavy Duty Synthetic Moly 5% EP</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    La línea de Delo® Heavy Duty EP es una amplia línea de grasas que se encuentran disponibles con o sin disulfuro de molibdeno. Estas grasas están diseñadas para aplicaciones de chumaceras simples y chumaceras anti-fricción, operando bajo condiciones de alto estrés/cargas pesadas, combinadas con altas temperaturas ambiente comúnmente encontradas en aplicaciones de servicio pesado fuera de la carretera.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_retroexcavadora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_manufacturing.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    <img src="@Url.Content("~/images/portfolio/Food-50.jpg")" />

                                    @*<br />
                    <br />
                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    @*<a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=393300&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>*@
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/STARPLEX_EP1.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Starplex EP</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    Las grasas Starplex® EP son grasas resistentes al agua, de presión extrema y servicio pesado para chasises y chumaceras de ruedas.
                                    <br /><br />
                                    Disponible en los grados NLGI 1, 2
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />

                                    @*<br />
                    <br />
                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    @*<a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=393300&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>*@
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo Syn-Grease SFE EP.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Synthetic Grease SF</h4>
                                <p align="justify">
                                    <br />
                                    La grasa Delo® Synthetic Grease SF es una grasa de alto desempeño específicamente formulada para rodamientos de tráilers operando en un amplio rango de condiciones.
                                    <br />
@*
                    <img src="@Url.Content("~/images/portfolio/cinta_tractor.png")" />
                    <img src="@Url.Content("~/images/portfolio/cinta_revolvedora.png")" />
                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />

                    <br />
    <br />
    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    @*<a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=393300&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>*@
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div><!-- /.post-wrap -->
            </div><!-- /.col-md-8 -->

            <div class="col-md-4">
                <div class="sidebar">
                    @Html.Partial("_MenuTransporte")
                    @Html.Partial("_MenuCategorias")
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

