@{
    ViewBag.Title = "Refrigerantes / Antocongelantes";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section banner{
    <!-- Page title -->
    <div class="page-title">

        <div class="container">
            <div class="row">

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-title -->
}

<!-- Blog posts -->
<section class="main-content blog-posts blog-single">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="post-wrap">
                    <article class="post clearfix">
                        <div class="featured-post">
                            <img src="@Url.Content("~/images/portfolio/transcategories.fw.png")" alt="image">
                        </div><!-- /.feature-post -->

                        <div class="content-post">
                            <h2 class="title-post"><a href="blog-single.html">@ViewBag.Title</a></h2>

                            <div class="" style="background-color: transparent; color: black;">
                                <br />
                                <p align="justify">
                                    Los refrigerantes de vida extendedida Delo® simplifican radicalmente la manera en la que los sistemas refrigerantes se mantienen y generan un óptimo desempeño del motor. Nuestros inhibidores de corrosión orgánicos patentados eliminan la necesidad de aditivos de refrigerantes suplementarios y maximizan el desempeño de los equipos y la transferencia de calor a lo largo de la vida de su motor.
                                </p>
                            </div>
                        </div><!-- /.content-post -->
                    </article>

                    <div class="main-single">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo-ELC-Antifrzeeze-Coolant_Concentrate_GHS_Spanish-English.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Extended Life Coolant/Antifreeze Nitrite Free</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    Los productos Delo® Extended Life Coolant/Antifreeze - Nitrite Free son anticongelantes/refrigerantes de fase simple, con base etileno glicol, basados en los sistemas inhibidores de corrosión de carboxilato alifático patentados especialmente formulados para aplicaciones de sistemas de enfriamiento de servicio pesado y están disponibles como concentrados o prediluidos 50/50.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_oilgas.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />
                                    
                                    @*<br />
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=328622&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo XLC Antifreeze Coolant Concentrate_GHS_Spanish English.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo XLI-N Corrosion Inhibitor Premix</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    Delo® XLI-N Corrosion Inhibitor Premix es un inhibidor de corrosión de larga vida a base de agua, que utiliza una combinación sinérgica de carboxilatos alifáticos que contiene también nitrito y molibdato como inhibidores secundarios. Es un producto listo para su uso y no requiere adición de agua.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_oilgas.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />

                                    @*<br />
                    <br />
                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=328622&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="@Url.Content("~/images/portfolio/Delo XLIN_Spanish.png")" />
                            </div>
                            <div class="col-md-9" style="font-size: 14px; color: black;">
                                <h4>Delo Extended Life Coolant/Antifreeze</h4>
                                <p align="justify">
                                    <br />
                                    <br />
                                    Los productos Delo® ELC Antifreeze/Coolant son productos de fase simple con base etileno glicol disponibles en varias diluciones que están basadas en la tecnología patentada de inhibición de corrosión de carboxilato alifático, específicamente formulada para aplicaciones de sistemas de enfriamiento de servicio pesado que requieren nitrito.
                                    <br />
                                    <img src="@Url.Content("~/images/portfolio/cinta_oilgas.png")" />
                                    <img src="@Url.Content("~/images/portfolio/cinta_tolva.png")" />

                                    @*<br />
                    <br />
                    <img src="@Url.Content("~/images/portfolio/ISOSYN Advanced Technology_Logo.png")" />*@
                                    <br />
                                    <br />
                                    <a href="https://cglapps.chevron.com/msdspds/PDSDetailPage.aspx?docDataId=393300&docFormat=PDF" target="_blank" style="color: darkblue; font-weight: bold;"><i class="fa fa-file-pdf-o"></i> Ficha técnica</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div><!-- /.post-wrap -->
            </div><!-- /.col-md-8 -->

            <div class="col-md-4">
                <div class="sidebar">
                    @Html.Partial("_MenuTransporte")
                    @Html.Partial("_MenuCategorias")
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section> 
